<div class="title">
Manicure, pedicure, nail design
</div>
<div class="slaider">
slaider
</div>
<div><a href="http://google.com"> Let's find us on Google </a></div>

<div>
OUR COMPANY NAME IS <%= @company_name %>
</div>