html, body
{

	font-family: Calibri;

	border: 1px red solid;
	margin: 0px;
	padding: 0px;
  color: #ffffff;
	background-color: #282132;
	width: 1200px;
}
div
{display: block;
}
a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff;  }

.main
{
	background: url("/assets/bg.png");
	background-position: top;
	min-height: 800px;

	background-repeat: no-repeat;
}
.header
{
margin: 0 350 0 350px;
border: 1px red solid;
height: 115px;

}
.header a 
{
	
}
.logo {
float: left;
margin: 0 0 0 50px;

}
.menu {
float: right;
border: 1px red solid;
height: 40px;
margin: 0 50px 0 0px;
}
.menu a
{padding: 0	 0 0 20px;}
.footer
{
	float: left;
	width: 1000px;
	margin: 50px;
}
.content{
	margin: 150px 50px 50px 50px;

}
.title
{
	height: 313px;
	border: 1px red solid;
	margin: 170px 50px 0 50px;
}
.slaider
{height: 300px;
border: 1px red solid;
margin: 50px;}